@import "../bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$logo-size: 30px;
$opacity: rgba(255,255,255,0.5);


//global

.body {
  font-family: 'Raleway', 'Noto Sans KR', sans-serif;
}

// header

#main-nav {
  background-color: $opacity;
  top: 0;
  position: sticky;
  z-index: 2;
  > header.container {
    background-color: $opacity;
    > nav.navbar {
      background-color: $opacity;
    }
  }
}

.logo-img {
  background-size: $logo-size;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  width: $logo-size;
  height: $logo-size;
  box-sizing: content-box;
  padding-right: 15px;
  border-right: 1px solid $grey-light;
}

.logo-title.is-size-3 {
  padding-left: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.burger {
  margin: 8px 16px 8px 16px;
  box-sizing: content-box;

}

.active {
  display: block !important;
}

.navbar-item {
  font-family: 'Raleway', sans-serif;
}

// content

#main-content {
  position: relative;
  top: 50px;
  z-index: 1;
}

.image {
  margin-bottom: 17px;
}

#primary-column {
  padding-top: 0;
}
#right-column {
  margin: 0 !important;
  padding: 0 12px 12px 12px;
}

#all-post-button {
  margin: 0 auto;
  display: block;
}

// hero

.hero {
  margin-top: 80px;
}