@import "../bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
$logo-size: 30px;
$opacity: rgba(255,255,255,0.7);


// 1. base

//global

.body {
  font-family: 'Noto Sans KR', sans-serif;
}


// header

// main navigation
#main-nav {
  background-color: $opacity;
  top: 0;
  position: sticky;
  z-index: 2;
  margin-bottom: 50px;
  > header.container {
    background-color: rgba(0,0,0,0);
    > nav.navbar {
      background-color: rgba(0,0,0,0);
    }
  }
}

.logo-img {
  background-size: $logo-size;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  width: $logo-size;
  height: $logo-size;
  box-sizing: content-box;
  padding-right: 15px;
  border-right: 1px solid $grey-light;
}

.logo-title.is-size-3 {
  padding-left: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

// hamburger button
.burger {
  margin: 8px 16px 8px 16px;
  box-sizing: content-box;

}

// jquery active
.active {
  display: block !important;
}

.navbar-item {
  font-family: 'Raleway', sans-serif;
}


// 2. index

// content

#main-content {
  position: relative;
  z-index: 1;
}

.image {
  margin-bottom: 17px;
}

#right-column {
  margin: 0 !important;
  padding: 12px;
}

// tile
#tile-article {
  line-height: 1.5;
}

#tile-divider {
  background-color: $grey-dark;
  border: 1px solid;
}

#tile-subtitle {
  margin-bottom: 10px;
}

// post button
#all-post-button {
  margin: 0 auto;
  display: block;
}


// 3.archive_list

#archive-column {
  padding: 24px;
}


// pagination
#paginator {
  padding: 24px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#page-prv, #page-next, #not_current {
  color: $grey-dark;
}

#is_current {
  background-color: $yellow;
  border-color: $yellow;
  color: white;
}

// 4. category_list (essay, review, programming)

#category-name {
  padding: 12px;
}