{% extends 'base.html' %}


{% block content %}
    <!--메인 포스트 목록-->
    <section class="container" id="main-content">
        <div class="columns">
            <div class="column is-6 is-multiline" id="primary-column">
                <div class="column is-12">
                    <a href="">
                        <div class="box">
                            <figure class="image is-4by3">
                                <img src="http://bulma.io/images/placeholders/640x480.png" alt="">
                            </figure>
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <header><h1 class="has-text-weight-bold">{{ posts.first.title }}</h1></header>
                                        <p>{{ posts.first.content|linebreaksbr|truncatewords:30 }}</p>
                                        <p>{{ posts.first.published_date }}</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </a>
                </div>
            </div>
            <div class="columns is-6 is-multiline" id="right-column">
                <!--for loop에 슬라이스 기능 사용-->
                {% for post in posts|slice:"1:5" %}
                    <div class="column is-6">
                        <a href="">
                            <div class="box">
                                <figure class="image is-4by3">
                                    <img src="http://bulma.io/images/placeholders/640x480.png" alt="">
                                </figure>
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <header><h3 class="has-text-weight-semibold">{{ post.title }}</h3></header>
                                            <p>{{ post.content|linebreaksbr|truncatewords:20 }}</p>
                                            <p><small>{{ post.published_date }}</small></p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="column is-12">
                    <div class="section">
                        <a href="" class="button" id="all-post-button">See all Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--히어로-->
    <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Lorem Ipsum.
                </h1>
                <p class="subtitle has-text-centered">
                    dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </section>

{% endblock %}