{% extends 'base.html' %}

{% block content %}
    {% block archive %}
    {% endblock %}
    <!--전체 포스트 목록-->
    <div class="columns is-multiline">
        {% for post in posts %}
            <div class="column is-8 is-offset-2" id="archive-column">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <header><h3 class="has-text-weight-semibold is-size-4">{{ post.title }}</h3></header>
                                    <p>{{ post.content|linebreaksbr|truncatewords:30 }}</p>
                                    <p class="has-text-right">
                                        <small>{{ post.published_date }}</small>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
        {% endfor %}
        <!--페이지네이션-->
        <!--이전 페이지 버튼 & 다음 페이지 버튼-->
        <div class="column is-8 is-offset-2" id="paginator">
            {% if posts.has_other_pages %}
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}" class="pagination-previous" id="page-prv">Previous</a>
                    {% else %}
                        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
                    {% endif %}
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" class="pagination-next" id="page-next">Next page</a>
                    {% else %}
                        <a class="pagination-next" title="This is the last page" disabled>Next page</a>
                    {% endif %}
                    <!--페이지 목록 버튼-->
                    <ul class="pagination-list">
                        {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                                <li><a class="pagination-link" id="is_current">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}" class="pagination-link" id="not_current">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}